
/* Reset*/
html, body{
    padding:0;
    margin:0;
}
img{
    max-width:100%;
}
*{
    box-sizing: border-box;
}

/* ---------------------   */

.wrapper { 
    display: grid; 
    grid-template-columns: repeat(5, 1fr); 
  } 
  
  .header { 
    grid-column-start: 1; 
    grid-column-end: 6; 
    grid-row-start: 1; 
    grid-row-end: 2; 
    display: grid; 
    grid-auto-rows: 130px;
    grid-template-columns: repeat(15, 1fr); 
  }

  .signup{
    margin-top: 10px;
    font-size: medium;
    font-weight: bold;
    margin-right: 15px;
  }
  
  .header1{
    grid-column-start: 1; 
    grid-column-end:6 ;
    font-family: 'EB Garamond', serif;
    font-size: 35px;
    font-weight: bolder;
    padding-left: 10px;
    padding-top: 20px;
    text-shadow: 0px 2px rgb(212, 204, 204) ;
  }
  .header2{
    grid-column-start: 13; 
    grid-column-end:15 ;
  }

  .header3{
    grid-column-start: 1; 
    grid-column-end:15 ;
    margin-top: -68px;
  }
  .login_button{
    background-color: white;
    border: none;
  }
  .signup{
    border: none;
    background-color: #9989c4;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
    margin-top: 20px;

  }

  .navigation { 
    grid-auto-rows: 50px;
    grid-column-start: 1;   
  }
  
  .search{
    grid-column-start: 5; 
    grid-column-end:6 ;
    grid-auto-rows: 30px;
  }
  .product{
    grid-column-start: 1; 
    grid-column-end:6 ; 
    grid-auto-rows: 400px; 
    grid-template-columns: repeat(12, 1fr); 
  }
  .data_product{
    margin-top: -145px;
  }
  .product1{
    text-align: center;
  }
  .product11{
    font-size: 30px;
    font-weight: bold; 
  }
  .product12{
    font-family: 'EB Garamond', serif;
    padding-top: 26px;
    
  }
  .product13{
    font-family: 'EB Garamond', serif;
    padding-top: 20px;  
  }
  
  .getstart{
    border: none;
    padding: 20px;
    margin: 4px 2px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px; 
    font-weight: bolder;
    background-color: #4CAF50;
    border-radius: 12px;
  }
  .product2{
    display: grid;
    grid-auto-rows: 380px;
    grid-template-columns: repeat(16, 1fr); 
  }

  .animation{
    background-image: url(../img/background.png);
    grid-column-start: 4;
    grid-column-end: 12;
    mask-repeat: no-repeat;
    padding-bottom: 20px;
  }

  .product3{
    display: grid;
    grid-auto-rows: 850px;
    grid-template-columns: repeat(16, 1fr); 
  }
  .animation1{
    background-image: url(../img/report.png);
    grid-column-start: 4;
    grid-column-end: 15;
    mask-repeat: no-repeat;
    padding-bottom: 20px;
  }
 
  